section.download_app 
    .img_container 
        img(src="./img/download_app.png", alt="download wall pepper")
    .container 
        .row 
            .col-md-12 
                .content 
                    h2.title 
                        |Download Application
                    h6.subtitle     
                        |you can download the application now and enjoy our meals and offers
                    .btn_container 
                        a(href="http://" target="_blank" rel="noopener noreferrer") 
                            img(src="./img/playIcon.png" alt="google play")
                            .text 
                                span.main-text Get it on 
                                |Google Play 
                        a(href="http://" target="_blank" rel="noopener noreferrer") 
                            img(src="./img/applyIcon.png" alt="Apple store")
                            .text 
                                span.main-text Get it on 
                                |Apple store
