section.fav_food 
    .container 
        ul.filter_list 
            li
                button.active(data-filter="1") 
                    img(class="icon" src="./img/breakfast.png" alt="food pizza sandwitches pasta")
                    |All
            li
                button(data-filter="2") 
                    img(class="icon" src="./img/burger.png" alt="food pizza sandwitches pasta")
                    |Burger
            li
                button(data-filter="3") 
                    img(class="icon" src="./img/pizza.png" alt="food pizza sandwitches pasta")
                    |Pizza
            li
                button(data-filter="4") 
                    img(class="icon" src="./img/chicken.png" alt="food pizza sandwitches pasta")
                    |Chicken
            li
                button(data-filter="5") 
                    img(class="icon" src="./img/chiness.png" alt="food pizza sandwitches pasta")
                    |Chiness
            li
                button(data-filter="6") 
                    img(class="icon" src="./img/desserts.png" alt="food pizza sandwitches pasta")
                    |Desserts
        .filter_menu 
            .row 
                .col-md-3(class="item" data-filter="6")
                    .card
                        img.card-img-top(src='./img/diner-platter-with-olives-cheese-vegetables.png' alt='food chinees sandwitches')
                        .card-body
                            h5.card-title Delicious Sandwitche
                            p.card-text
                                | Cibadak Market 
                        .card-footer 
                            span.price 25 SAR
                            a(href='#') 
                                img(src="./img/shopping.svg", alt="shopping")
                .col-md-3(class="item" data-filter="2")
                    .card
                        img.card-img-top(src='./img/front-view-delicious-ham-sandwiches-wooden-board-dark-surface.png' alt='food chinees sandwitches')
                        .card-body
                            h5.card-title Delicious Sandwitche
                            p.card-text
                                | Cibadak Market 
                        .card-footer 
                            span.price 25 SAR
                            a(href='#') 
                                img(src="./img/shopping.svg", alt="shopping")
                .col-md-3(class="item" data-filter="3")
                    .card
                        img.card-img-top(src='./img/turkish-pide-traditional-food-with-beef-vegetables.png' alt='food chinees sandwitches')
                        .card-body
                            h5.card-title Delicious Sandwitche
                            p.card-text
                                | Cibadak Market 
                        .card-footer 
                            span.price 25 SAR
                            a(href='#') 
                                img(src="./img/shopping.svg", alt="shopping")
                .col-md-3(class="item" data-filter="4")
                    .card
                        img.card-img-top(src='./img/turkish-traditional-pizza-with-sausage.png' alt='food chinees sandwitches')
                        .card-body
                            h5.card-title Delicious Sandwitche
                            p.card-text
                                | Cibadak Market 
                        .card-footer 
                            span.price 25 SAR
                            a(href='#') 
                                img(src="./img/shopping.svg", alt="shopping")
                .col-md-3(class="item" data-filter="5")
                    .card
                        img.card-img-top(src='./img/diner-platter-with-olives-cheese-vegetables.png' alt='food chinees sandwitches')
                        .card-body
                            h5.card-title Delicious Sandwitche
                            p.card-text
                                | Cibadak Market 
                        .card-footer 
                            span.price 25 SAR
                            a(href='#') 
                                img(src="./img/shopping.svg", alt="shopping")
                .col-md-3(class="item" data-filter="6")
                    .card
                        img.card-img-top(src='./img/front-view-delicious-ham-sandwiches-wooden-board-dark-surface.png' alt='food chinees sandwitches')
                        .card-body
                            h5.card-title Delicious Sandwitche
                            p.card-text
                                | Cibadak Market 
                        .card-footer 
                            span.price 25 SAR
                            a(href='#') 
                                img(src="./img/shopping.svg", alt="shopping")
                .col-md-3(class="item" data-filter="5")
                    .card
                        img.card-img-top(src='./img/turkish-pide-traditional-food-with-beef-vegetables.png' alt='food chinees sandwitches')
                        .card-body
                            h5.card-title Delicious Sandwitche
                            p.card-text
                                | Cibadak Market 
                        .card-footer 
                            span.price 25 SAR
                            a(href='#') 
                                img(src="./img/shopping.svg", alt="shopping")
                .col-md-3(class="item" data-filter="4")
                    .card
                        img.card-img-top(src='./img/turkish-traditional-pizza-with-sausage.png' alt='food chinees sandwitches')
                        .card-body
                            h5.card-title Delicious Sandwitche
                            p.card-text
                                | Cibadak Market 
                        .card-footer 
                            span.price 25 SAR
                            a(href='#') 
                                img(src="./img/shopping.svg", alt="shopping")

