section.food_review 
    .container 
        .row 
            .col-md-6 
                .box 
                    img(src="./img/food2.png" alt="food pizza")
            .col-md-6 
                .col-md-12 
                    .box 
                        img(src="./img/food3.png" alt="food pizza")
                .col-md-12 
                    .box 
                        img(src="./img/food1.png" alt="food pizza")