footer
    .container-fluid 
        .row 
            .col-md-4
                .img_container
                    img(src="./img/logo2x.png" alt="wall pepper")
                    p.title
                        | We made it fresh by our hands 
            .col-md-8
                .row 
                    .col-md-4
                        ul
                            li.head 
                                img(src="./img/Layer_1.png" alt="resturant") 
                                |Hot Menu  
                            li 
                                
                                a(href="http://", target="_blank", rel="noopener noreferrer")  Break Fast  
                            li 
                                
                                a(href="http://", target="_blank", rel="noopener noreferrer")  Burger
                            li 
                                
                                a(href="http://", target="_blank", rel="noopener noreferrer")  Pizza
                            li 
                                
                                a(href="http://", target="_blank", rel="noopener noreferrer")  Chicken 
                            li 
                                
                                a(href="http://", target="_blank", rel="noopener noreferrer")  Chiness 
                            li 
                                
                                a(href="http://", target="_blank", rel="noopener noreferrer")  Desserts 
                    .col-md-4
                        ul
                            li.head 
                                i.far.fa-clock
                                |Our Time
                            li 
                                | Sat - Thu: 5 PM - 12:30 Am   
                            li 
                                | Sat - Thu: 5 PM - 12:30 Am  
                    .col-md-4
                        ul
                            li.head 
                                |Subscribe to know our offers
                            li 
                                .input-group.mb-3
                                    span#basic-addon1.input-group-text 
                                        i.far.fa-envelope-open
                                    input.form-control(type='text' placeholder='enter your email' aria-label='Username' aria-describedby='basic-addon1')
                                    button#basic-addon1.input-group-text.basic_two 
                                        i.fas.fa-rocket
