header 
    //- img.header_img(src="./img/header.png", alt="")
    .container 
        .content 
            h2.title Guaranteed Quality Every Single Day
            h6.tail_text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
            .btn_container 
                a(href="http://" target="_blank" rel="noopener noreferrer") 
                    img(src="./img/playIcon.png" alt="google play")
                    .text 
                        span.main-text Get it on 
                        |Google Play 
                a(href="http://" target="_blank" rel="noopener noreferrer") 
                    img(src="./img/applyIcon.png" alt="Apple store")
                    .text 
                        span.main-text Get it on 
                        |Apple store
