nav 
    .container
        .row 
            .col-md-6 
                .logo 
                    img(src="./img/logo.png", alt="logo")
            .col-md-6
                .content
                    a(href="").login 
                        img(src="./img/enter.png", alt="login")
                        |login
                    button.lang 
                        img(src="./img/language.png", alt="language")
                        | عربي