-var PageTitle = "Wall pepper"
doctype html
html(lang="en")
    head
        include layout/meta.pug
        include layout/styles.pug
    body.no-scroll
        //- navbar
        include ./components/navbar.pug
        //-header
        include ./components/header.pug
        //- how it works section
        include ./components/howWork.pug
        //- food review
        include ./components/food_review.pug
        //- filter food 
        include ./components/fav_food.pug
        //- download app
        include ./components/download_app.pug
        //- footer
        include ./components/footer.pug
        //- loading animation
        include ./components/loading.pug
        //- script
        include layout/scripts